@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');

.info {
    width: 100%;
    padding: 100px;
    margin-bottom: 40px;
    background-color: black;
}

.slider {
    width: 90%;
    margin: auto;
}

.carousel-item > img {
    object-fit: cover;
    width: 100%;
    height: 550px;
    border-radius: 10px;
}

[data-bs-target].active {
    background-color: #2AA4BF !important;
}

button[data-bs-target] {
    position: relative;
    top: 50px;
    width: 18px !important;
    height: 18px !important;
    margin-right: 60px !important;
    margin-left: 60px !important;
    border-radius: 50%;
}

.nav2 {
    width: 80%;
    margin: 70px auto;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.nav2 ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav2 li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.nav2 a {
    color: white;
}

.nav2 a:hover {
    color: #2AA4BF;
}

.nav2-img-1 {
    min-height: 70px;
    min-width: 70px;
    background-color: white;
    background: url('public/img/icons_categorias/001.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-1:hover {
    background: url('public/img/icons_categorias/10.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-2 {
    min-height: 70px;
    min-width: 70px;
    background: url('http://localhost/YUNTAS_Producciones/public/icons/2.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-2:hover {
    background: url('http://localhost/YUNTAS_Producciones/public/icons/2-h.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-3 {
    min-height: 70px;
    min-width: 70px;
    background: url('http://localhost/YUNTAS_Producciones/public/icons/3.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-3:hover {
    background: url('http://localhost/YUNTAS_Producciones/public/icons/3-h.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-4 {
    min-height: 70px;
    min-width: 70px;
    background: url('http://localhost/YUNTAS_Producciones/public/icons/4.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-4:hover {
    background: url('http://localhost/YUNTAS_Producciones/public/icons/4-h.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-5 {
    min-height: 70px;
    min-width: 70px;
    background: url('http://localhost/YUNTAS_Producciones/public/icons/5.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-5:hover {
    background: url('http://localhost/YUNTAS_Producciones/public/icons/5-h.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-6 {
    min-height: 70px;
    min-width: 70px;
    background: url('http://localhost/YUNTAS_Producciones/public/icons/6.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img-6:hover {
    background: url('http://localhost/YUNTAS_Producciones/public/icons/6-h.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav2-img > p {
    position: relative;
    top: 75px;
}

.banner {
    width: 90%;
    margin: auto;
}

.banner > img {
    object-fit: cover;
    width: 100%;
    height: 550px;
    border-radius: 10px;
}


.titulos2-container {
    display: flex;
    justify-content: center;
}

.titulos2 {
    display: inline-block;
    margin: 15px auto 30px;
    font-size: 4.6rem;
    font-weight: bold;
    text-align: center;
    cursor: none;
}

.titulos2:hover {
    color: #2AA4BF;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

h2.subtitulo2 {
    position: relative; 
    bottom: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height:60px; 
    margin: auto; 
    padding: 20px;
    text-align: center;
    background-color: #2AA4BF; 
    color: white; 
    border-radius: 0 0 30px 30px;
    font-size: 2.8rem;
}

.info-2 {
    width: 60%;
    margin: auto;
    font-size: 2.5rem;
    text-align: justify;
}

.info-2-first > p {
    margin-bottom: 100px;
}

.info-2-formulario {
    width: 80%;
}

.info-2-formulario p {
    text-align: center;
}

.info-2-formulario > p:nth-child(3) {
    font-size: 2rem;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formulario > img {
    width: 400px; 
    height: 400px; 
    margin: 20px; 
    border: 3px solid #2AA4BF; 
    border-radius: 20px; 
    object-fit: cover;
}

.formulario input, .formulario textarea {
    margin: 4px;
    border: 1.5px solid #2AA4BF;
    font-size: 1.5rem;
}

.formulario form input::placeholder, .formulario form textarea::placeholder {
    font-size: 1.5rem;
}

.formulario form div:nth-child(5){
    width: 100%;
    margin: 5px auto 5px 4px;
}

.form-file__action {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-file__action input {
	width: 0;
	height: 0;
	opacity: 0;
	display: none;
}

.form-file__result {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #2AA4BF;
	border-radius: 8px;
	border: 1px dashed #2AA4BF;
	transition: bacgroundColor 0.3s linear;
	z-index: 10;
}

.form-file__result::after {
	content: 'Subir imagen referencial (opcional)';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.form-file__result img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 500;
}

.form-file__result--active {
	background-color: #FF00FE;
}

.formulario button {
    width: 100%;
    height: 45px;
    margin: 5px auto 5px 4px;
    background-color: #2AA4BF;
    border: 1px solid #2AA4BF;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.formulario button:hover {
    background-color: #FF00FE;
    border: 1px solid #FF00FE;
}

@media (min-width: 1023px) {
    .info .container div:nth-child(4) {
        margin: auto 0 auto auto !important;
    }
    
    .info .container div:nth-child(5) {
        margin: auto auto auto 0 !important;
    }
}

@media (max-width: 769px) {
    .info {
        padding: 0;
    }

    .info-first {
        padding: 0;
    }

    .slider {
        width: 100%;
    }

    .slider img {
        border-radius: 0;
        width: 450px;
    }

    .carousel-indicators button { 
        display: none;
    }

    .info-2-first p {
        margin-bottom: 60px;
    }

    .col-md-6 {
        margin: auto !important;
    }

    .formulario {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .formulario > img {
        width: 90%;
        height: 600px;
    }

    .banner {
        width: 100%;
    }

    .banner > img {
        margin-bottom: 20px;
    }
}

@media (max-width: 426px) {
    .slider img {
        height: 450px;
    }

    .titulos2 {
        font-size: 3rem;
    }

    .info-2-first p {
        font-size: 2rem;
    }

    .info-second {
        padding: 50px 0;
    }

    .info-2-formulario p {
        font-size: 2rem;
    }

    .formulario > img {
        width: 98%;
        height: 400px;
        margin-left: 25px;
    }

    .form-file__result::after {
        font-size: 1.5rem;
    }
}

